<div class="container">
    <div id="dailyAttendance">

      <div class="content-header">
        <div class="container">
          <div class="row mb-0">
              <h1>Daily Attendance</h1>
          </div>
        </div>
      </div>

          <div class="row" id="attendanceTable">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                      <div class="row">
                      <div class="col-sm-3 date">
                        <input type="date" name="date" value="{$selectedDate}" id="date" class="form-control form-control-sm">
                         </div>
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-hover" id="attendance">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Check-in</th>
                                  <th scope="col">Check-out</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Break Time</th>
                                  <th scope="col">Last Break Started</th>
                                </tr>
                              </thead>
                              <tbody>
                                {if isset($attendanceData)}
                                {foreach from=$attendanceData item=data}
                                <tr class="{if $data.breakStartTime neq null && $data.breakEndTime eq null}bg-warning{/if}">
                                  <td>{$data.firstName} {$data.lastName}</td>
                                  <td>{$data.Date}</td>
                                  <td>{if $data.checkIn eq null}NA{else}{$data.checkIn}{/if}</td>
                                  <td>{if $data.checkOut eq null}NA{else}{$data.checkOut}{/if}</td>
                                  <td>{$data.status}</td>
                                  <td>{if $data.breakTime eq null}NA{else}{$data.breakTime}{/if}</td>
                                  <td>{if $data.breakStartTime eq null}NA{else}{$data.breakStartTime}{/if}</td>
                                </tr>
                                {/foreach}
                                {/if}
                              </tbody>
                            </table>
                          </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{literal}
<script>
    $('#date').on("change",function(){
      window.location.href = '/admin/dailyattendance'+'?date='+$(this).val();
    })
  </script>

  <script>
  jQuery(document).ready(function (){
    $('#attendance').DataTable(
      {
          pageLength: 50,
          bPaginate: false,
          bLengthChange: false,
          bFilter: true,
          bInfo: false,
          searching: false
      }
    );
  });
  </script>
{/literal}