<body class="hold-transition login-page">
<div class="login-box d-flex justify-content-center mt-5 mb-0">

  <div class="card mt-5" style="width:28%;">
    <div class="card-body login-card-body">
        <div class="text-center">
            <h4 class="display-6"><b>Admin</b> Login</h4>
          </div>
      <p class="login-box-msg text-center">Sign in to start your session</p>

      <form method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
       
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block submit">Login</button>
          </div>

        </div>
      </form>
      <p class="mb-0">
        <a href="http://local.ems.com/app/login/">User Login</a><br>
        <a href="#">I forgot my password</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>
{literal}
<script>
    $(document).ready(function()
    {
        $(".submit").click(function()
        {
            var email = $("#email").val();
            var pass = $("#password").val();
            $.ajax({
                url: "/admin/login/dologin/",
                type: "POST",
                data: { email: email, password: pass },
                success: function (result) {
                    console.log(result);
                    if(result == 1) // ready to login.
                    {
                        window.location.href = "/admin";
                    }
                    else if(result == 2) // not admin. 
                    {
                        alert("You are not Admin");
                    }
                    else if(result == 3) // Invalid Credentials.
                    {
                        alert("Invalid Credentials");
                    }
                }
            });
        });
    });
</script>
{/literal}