<section class="vh-100">
  <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-11">

              <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-5 col-xl-5 order-2 order-lg-1">
                      <div class="card card-outline card-primary">
                          <div class="card-header text-center">
                              <a href="/" class="h1"><b>Admin</b> Login</a>
                          </div>
                          <div class="card-body">
                              <p class="login-box-msg">Sign in to start your session</p>

                              <form method="post">
                                  <div class="input-group mb-3">
                                      <input type="email" class="form-control" id="email" name="email"
                                          placeholder="Email">
                                      <div class="input-group-append">
                                          <div class="input-group-text">
                                              <span class="fa fa-envelope"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="input-group mb-3">
                                      <input type="password" class="form-control" id="password" name="password"
                                          placeholder="Password">
                                      <div class="input-group-append">
                                          <div class="input-group-text">
                                              <span class="fa fa-lock"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row d-flex justify-content-end">
                                      <div class="col-4">
                                          <button type="button" class="btn btn-primary btn-block submit">Sign
                                              In</button>
                                      </div>
                                      <!-- /.col -->
                                  </div>
                              </form>
                              <p class="mb-0">
                              <!-- <a href="http://local.ems.com/app/login/">User Login</a><br> -->
                              <!-- <a href="#">I forgot my password</a> -->
                            </p>
                          </div>
                          <!-- /.card-body -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
  <!-- /.login-box -->

  </body>
{literal}
<script>
    $(document).ready(function()
    {
        $(".submit").click(function()
        {
            var email = $("#email").val();
            var pass = $("#password").val();
            $.ajax({
                url: "/admin/login/dologin/",
                type: "POST",
                dataType: "JSON",
                data: { email: email, password: pass },
                success: function (result) {
                    if(result.status == 1)
                    {
                        window.location.href = '/admin';
                    }
                    else
                    {
                        toastr.error(result.errors);
                    }
                   
                }
            });
        });
    });
</script>
{/literal}