<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-11">
  
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-5 col-xl-5 order-2 order-lg-1 errorParent">
                        <div class="card card-outline card-primary">
                            <div class="card-header text-center">
                                <h2>Create New Password</h1>
                            </div>
                            <div class="card-body">
                                <form name="resetpassword" method="post">
                                    <input type="hidden" id="key" value="{if isset($key)}{$key}{/if}">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Enter New Password">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                            placeholder="Confirm Password">
                                    </div>
                                    <div class="row d-flex justify-content-end">
                                        <div class="col-4">
                                            <button type="button" class="btn btn-sm btn-primary btn-block submit">Submit</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>
                              </div>
                              <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  {literal}
  <script>
     $(document).ready(function()
    {
        $(".submit").click(function()
        {
            var key = $("#key").val();
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();
            $.ajax({
                url: "/app/resetpassword/createpassword/",
                type: "POST",
                dataType: "JSON",
                data: { key: key,password: password,confirmPassword: confirmPassword},
                success: function (result) {
                    if(result.status == 1)
                    {
                       window.location.href = '/app/login';
                    }
                    else {
                        toastr.error(result.errors);
                    }
                }
            });
        });
    });
</script>
  {/literal}