<div class="container">
    <div id="dashboard">

        <div class="content-header">
            <div class="container">
              <div class="row mb-0">
                  <h1>User Attendance</h1>
              </div>
            </div>
          </div>

          <div class="row" id="ua_top_blocks">

          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <h4>Summary of {$userName}</h4>
              </div>
              <div class="card-body">
                <h5><b>Working Days : </b>{$workingDays}</h5>
                <h5><b>Present Days : </b>{$presentDays}</h5>
                <h5><b>Leave Balance : </b>{if $leaveBalance eq null}0{else}{$leaveBalance}{/if}</h5>
                <h5><b>Paid Leaves : </b>{$PL}</h5>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <h4>Attendance Status</h4>
              </div>
              <div class="card-body">
                {if $PL neq 0}<h5><b>PL : </b>{$PL}</h5>{/if}
                {if $UL neq 0}<h5><b>UL : </b>{$UL}</h5>{/if}
                {if $HUL neq 0}<h5><b>HUL : </b>{$HUL}</h5>{/if}
                {if $HPL neq 0}<h5><b>HPL : </b>{$HPL}</h5>{/if}
                {if $WO neq 0}<h5><b>WO : </b>{$WO}</h5>{/if}
                {if $HO neq 0}<h5><b>HO : </b>{$HO}</h5>{/if}
              </div>
            </div>
          </div>


          </div>

          <div class="row" id="attendanceTable">
              <div class="col-sm-12">
                  <div class="card">
                      <div class="card-header">
                        <div class="row">
                        <div class="col-sm-2  ">
                          <select name="user" class="form-control custom-select" id="user">
                            {foreach from=$users item=user}
                            <option value="{$user->id}" {if $selectedUser eq $user->id}selected{/if}>{$user->firstName}&nbsp;{$user->lastName}</option>
                            {/foreach}
                          </select>
                        </div>
                        <div class="col-sm-1">
                          <select name="month" class="form-control custom-select" id="month">
                            {if isset($selectedMonth)}
                            {foreach from=$monthOption item=month}
                            <option value="{$month}" {if $selectedMonth eq $month}selected{/if}>{$month}</option>
                            {/foreach}
                            {/if}
                            </select>
                        </div>
                        <div class="col-sm-1">
                          <select name="year" class="form-control custom-select" id="year">
                            {if isset($selectedYear)}
                            {foreach from=$yearOption item=year}
                            <option value="{$year}" {if $selectedYear eq $year}selected{/if}>{$year}</option>
                            {/foreach}
                            {/if}
                          </select>
                        </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <table class="table table-hover" id="attendance">
                                <thead>
                                  <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Check-in</th>
                                    <th scope="col">Check-out</th>
                                    <th scope="col">Break Time(Minutes)</th>
                                    <th scope="col">Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                    
                                </tbody>
                              </table>
                            </div>

                      </div>
                  </div>
              </div>
          </div>

    </div>
</div>
      <!--Model-->
      <div class="modal fade" id="editAttendance" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="editAttendance">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #007bff;">
              <h5 class="modal-title">Edit Attendance</h5>
            </div>
            <div class="modal-body text-left">

              <div class="row">
                <input type="hidden" id="id" name="id">
              <label class="col-md-3 offset-md-1"><b>Date</b></label>
              <input type="text" id="date" name="date" class="form-control form-control-sm col-md-6" disabled>
          </div>

            <div class="row mt-3">
              <label class="col-md-3 offset-md-1"><b>Check-in</b></label>
              <input type="text" id="checkIn" name="checkIn" class="form-control form-control-sm col-md-6" placeholder="YYYY-MM-DD HH:MM:SS">
            </div>

            <div class="row mt-3">
              <label class="col-md-3 offset-md-1"><b>Check-out</b></label>
              <input type="text" id="checkOut" name="checkOut" class="form-control form-control-sm col-md-6" placeholder="YYYY-MM-DD HH:MM:SS">
            </div>

            <div class="row mt-3">
              <label class="col-md-3 offset-md-1"><b>Break Time</b></label>
              <input type="text" id="breakTime" name="breakTime" class="form-control form-control-sm col-md-6" disabled>
            </div>

            <div class="row mt-3">
              <label class="col-md-3 offset-md-1"><b>Productive Hours</b></label>
              <input type="number" id="productiveHours" name="productiveHours" class="form-control form-control-sm col-md-6" disabled>
            </div>

            <div class="row mt-3">
              <label class="col-md-3 offset-md-1"><b>Status</b></label>
              <input name="status" id="status" class="form-control form-control-sm col-md-6">
            </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary edit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
      <!-- Model End -->
{literal}
<script>
    $(".edit").click(function()
     {
         var data = $("form#editAttendance").serializeArray();
         $.ajax({
             url: "/admin/userattendance/update/",
             type: "POST",
             dataType: "json",
             data: data, 
             success: function (result) {
               if(result.status == 1)
               {
                 window.location.href = "/admin/userattendance";
               }
               else
               {
                $.each(result.errors,function(index,value){
                      toastr.error(value);
                    });
               }
             }
         });
     });
</script>

<script>
    jQuery(document).ready(function (){

      $('#ua_top_blocks').each(function(){  
        var highestBox = 0;

        $(this).find('.card').each(function(){
            if($(this).height() > highestBox){  
                highestBox = $(this).height();  
            }
        })

        $(this).find('.card').height(highestBox);
    });

    attendanceTable = $('#attendance').DataTable({
      serverSide: true,
      pageLength: 50,
      bPaginate: false,
      bLengthChange: false,
      bFilter: true,
      bInfo: false,
      searching: false,
          "ajax": {
              url: '/admin/userattendance/getattendance',
              type: "GET",
              dataType: "json",
              data : function(data){
                data.month = $("#month").val();
                data.year = $("#year").val();
                data.user = $("#user").val();
              }
          },
          "columns": [
              { data: 'id',name: 'id'},
              { data: 'date',name: 'date'},
              { data: 'checkInDateTime',
                name: 'checkInDateTime',
                defaultContent: "<i>NA</i>"
              },
              { data: 'checkOutDateTime',
                name: 'checkOutDateTime',
                defaultContent: "<i>NA</i>"
              },
              { data: 'totalMinutes',
                name: 'totalMinutes',
                defaultContent: "<i>00</i>"
              },
              { 
                data: 'status',
                name: 'status',
                "render": function(data, type, row, meta){
                  if(row.status != 'NA')
                  {
                  if(type === 'display'){
                    data = '<a class="editLink" href="javascript:void(0);" data-toggle="modal" data-target="#editAttendance" data-id="'+row.id+'">' + data + '</a>';
                  }
                  return data;
                }
                else{
                  return data;
                }
                }
              }
            ]
        });
    });
</script>

<script>
    $("#editAttendance").on('show.bs.modal', function(event){
        var button = $(event.relatedTarget);           
        var id = button.data('id');
        $.ajax({
          url: "/admin/userattendance/getinfo",
          type: "POST",
          dataType: "json",
          data:{id:id},
          success: function (data) {
          // var checkInTime = data.checkInDateTime;
          // var checkOutTime = data.checkOutDateTime;
          var productiveTime = data.productiveTime;
          var productiveHours = (productiveTime/60).toFixed(2);
          
          //alert(productiveHours);
          $('#id').val(data.id);
          $('#date').val(data.date);
          $('#checkIn').val(data.checkInDateTime);
          $('#checkOut').val(data.checkOutDateTime);
          $('#breakTime').val(data.breakTime);
          $('#productiveHours').val(productiveHours);
          $('#status').val(data.status);
    
          },
        });
                });
    </script>

<script>
    $('select#month').change(function() {
      window.location.href = '/admin/userattendance'+'?year='+$('select#year').val()+'&month='+$('select#month').val()+'&user='+$('select#user').val();
      });
    $('select#year').change(function() {
      window.location.href = '/admin/userattendance'+'?year='+$('select#year').val()+'&month='+$('select#month').val()+'&user='+$('select#user').val();
    });
    $('select#user').change(function() {
      window.location.href = '/admin/userattendance'+'?year='+$('select#year').val()+'&month='+$('select#month').val()+'&user='+$('select#user').val();
    });
</script>
{/literal}
