  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-lg navbar-light navbar-white border-bottom">
    <div class="container">
      <a href="/" class="navbar-brand">
        <span class="brand-text font-weight-bold h5 mr-3 mt-2">EMS</span>
      </a>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        
      </div>

      <!-- Right navbar links -->
      <ul class="order-3 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold" href="/app/login">Login</a>
          
        </li>
           </div>
           
  </nav>
  <!-- /.navbar -->