  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-lg navbar-light navbar-white border-bottom">
    <div class="container">
      <a href="http://local.ems.com" class="navbar-brand">
        <span class="brand-text font-weight-bold h5 mr-3 mt-2">EMS</span>
      </a>
      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        
      </div>

      <!-- Right navbar links -->
      <ul class="order-3 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold" data-toggle="dropdown" href="#">Login</a>
          </a>
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            <a href="http://local.ems.com/admin/logout" class="dropdown-item">
              <i class="fa-solid fa-user mr-2"></i> User Login
            </a>
            <div class="dropdown-divider"></div>
            <a href="http://local.ems.com/admin/logout" class="dropdown-item">
              <i class="fa-solid fa-users mr-2"></i> Admin Login
            </a>
        </li>
           </div>
           
  </nav>
  <!-- /.navbar -->