<div class="container">

  <div id="userForm">
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Add User</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="card">

    <form class="form-horizontal" id="addUser">

    <div class="row" id="top_blocks">
      <div class="col-sm-6">
        <div class="card">
        <div class="card-header">
          <div class="card-title"><h4>Personal information</h4></div>
        </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-6">
                <label>First Name</label>
              <input type="text" class="form-control form-control-sm" name="firstName" id="firstName" required>
            </div>
            <div class="col-sm-6">
              <label>Last Name</label>
              <input type="text" class="form-control form-control-sm" name="lastName" id="lastName" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label>Gender</label>
              <select class="form-control form-control-sm" name="gender" id="gender" required>
                <option selected disabled>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="female">Other</option>
              </select>
          </div>
          <div class="col-sm-6">
            <label>Maritial Status</label>
            <select class="form-control form-control-sm" name="maritialStatus" id="maritialStatus">
              <option selected disabled>Select</option>
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>Date of Birth</label>
          <input type="date" class="form-control form-control-sm" name="dateOfBirth" id="dateOfBirth" >
        </div>
        <div class="col-sm-6">
          <label>Blood Group</label>
          <select class="form-control form-control-sm" name="bloodGroup" id="bloodGroup">
            <option selected disabled>Select</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
          </select>
      </div>
        </div>
          </div>          
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-title"><h4>Additional information</h4></div>
        </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Aadhar Id</label>
                <input class="form-control form-control-sm" type="text" name="aadharId" id="aadharId">
              </div>
              <div class="col-sm-6">
                <label>Voter Id</label>
                <input class="form-control form-control-sm" type="text" name="voterId" id="voterId">
              </div>
            </div>  
            <div class="form-group row">
              <div class="col-sm-6">
                <label>PAN</label>
                <input class="form-control form-control-sm" type="text" name="panId" id="panId">
              </div>
              <div class="col-sm-6">
                <label>License Number</label>
                <input class="form-control form-control-sm" type="text" name="licenseNumber" id="licenseNumber">
              </div>
            </div> 
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Designation</label>
                <input class="form-control form-control-sm" type="text" name="designation" id="designation">
              </div>
              <div class="col-sm-6">
                <label>Role</label>
                <select class="form-control form-control-sm" name="role" id="role">
                  <option selected disabled>Select</option>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Password</label>
                <input type="password" class="form-control form-control-sm" name="password" id="password">
              </div>
              <div class="col-sm-6">
                <label>Confirm Password</label>
                <input type="password" class="form-control form-control-sm" name="confirmPassword" id="confirmPassword">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="joinDate"><b>Date of Joining</b></label>
              <input type="date" class="form-control form-control-sm" name="joinDate" id="joinDate" >
            </div>
            <div class="col-sm-6">
              <label for="joinDate"><b>Active Status</b></label>
              <select class="form-control form-control-sm" name="isActive" id="isActive">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
          </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
        <div class="card-header">
          <div class="card-title"><h4>Contact information</h4></div>
        </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-6">
                <label>E-mail</label>
                <input type="email" class="form-control form-control-sm" name="email" id="email">
              </div>
              <div class="col-sm-6">
                <label>Personal E-mail</label>
                <input type="email" class="form-control form-control-sm" name="personalEmail" id="personalEmail">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label>Mobile Number</label>
                <input type="tel" class="form-control form-control-sm" name="mobile" id="mobile">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Emergencey Cont. No.</label>
                <input type="tel" class="form-control form-control-sm" name="emgContactNo" id="emgContactNo">
              </div>
              <div class="col-sm-6">
                <label>Emergencey Cont. Name</label>
                <input type="text" class="form-control form-control-sm" name="emgContactName" id="emgContactName">
              </div>
            </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label>State</label>
              <input type="text" class="form-control form-control-sm" name="state" id="state">
            </div>
            <div class="col-sm-6">
              <label>City</label>
              <input type="text" class="form-control form-control-sm" name="city" id="city">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label>Address</label>
              <textarea class="form-control form-control-sm" id="address" name="address" rows="3"></textarea>
            </div>
          </div>
          </div>
      </div>

      <div class="card" style="height: 295px;">
        <div class="card-header">
          <div class="card-title"><h4>Bank information</h4></div>
        </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Bank Name</label>
                <input class="form-control form-control-sm" type="text" name="bank" id="bank">
              </div>
              <div class="col-sm-6">
                <label>Name as per Bank</label>
                <input class="form-control form-control-sm" type="text" name="namePerBank" id="namePerBank">
              </div>
            </div>  
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Bank A/C No.</label>
                <input class="form-control form-control-sm" type="text" name="bankAcNumber" id="bankAcNumber">
              </div>
              <div class="col-sm-6">
                <label>Bank IFSC</label>
                <input class="form-control form-control-sm" type="text" name="bankIFSC" id="bankIFSC">
              </div>
            </div> 
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" class="btn btn-primary submit">Add User</button>
    </div>
  </form>
    </div>
  </div>
  </div>
{literal}
<script>
    $(document).ready(function()
    {
        $(".submit").click(function()
        {
            var userdata = $("form#addUser").serializeArray();
            $.ajax({
                url: "/admin/users/add/",
                type: "POST",
                dataType: "json",
                data: userdata,
                success: function (result) {
                  if(result.status == 1)
                  {
                    window.location.href = "/admin/users";
                  }
                  else
                  {
                    $.each(result.errors,function(index,value){
                      toastr.error(value);
                    });
                  }
                }
            });
        });
    });
</script>
{/literal}

