.card .card-header{
    padding-top: 12px;
    padding-bottom: 5px;
}
#top_blocks .card .card-header h4{
     font-size: 20px;
}
#top_blocks .card .card-body{
    padding: 10px 35px 20px;
}
#top_blocks .card ul li{
    padding: 6px 20px 1px;
}
#attendanceTable .card-body{
    padding: 0px;
}
#attendanceTable .card-header{
    border-bottom: none;
}
#top_blocks .card li h6{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
#top_blocks .card li h6:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}
#ua_top_blocks .card .card-body{
    padding: 10px 18px 7px 20px;
}
.content-header{
    padding-left: 0;
}
.content-header h1{
    padding-left: 0;
}