#dashboard .container #top_blocks .card{
    padding: 15px;
}
#dashboard .container #top_blocks .card-header{
    padding: 5px;
}
#dashboard .container #top_blocks .card-body{
    padding-left: 5px;
}