<div class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Leave Balancesheet</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm mt-3" id="balancesheetTable">
              <thead>
                <tr>
                  <th scope="col">Leave Id</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Type</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action by</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{literal}
<script>
  $(document).ready(function () {
      $('#balancesheetTable').DataTable({
          serverSide: true,
          "ajax": {
              url: '/app/leavebalancesheet/balancesheetlist',
              type: "GET",
              dataType: "json"
          },
          "columns": [
              { data: 'id',name: 'id'},
              { data: 'amount',name: 'amount'},
              { data: 'type',name: 'type'},
              { data: 'description', name: 'description'},
              { data: 'actionby',name: 'actionby'},
              { data: 'date',name: 'date'}
          ]
      });
  });
</script>
{/literal}
 