<div class="container">
  <div class="content">
      <div class="row">
        <div class="col-lg-6 offset-sm-3 mt-3">
          <div class="card">
            <div class="card-header">
              <h2>Edit Leave Status
              </h2>
            </div>
            <div class="card-body offset-sm-3">
        <form method="post" id="editStatus">
          <input type="hidden" name="id" value="{$dataRow->id}">
          <input type="hidden" name="oldStatus" value="{$dataRow->status}">
        <div class="row">
          <label class="col-md-4"><b>From</b></label>:
          <span class="col-md-4">{$dataRow->startDate|date_format:'Y-m-d'}</span>
        </div>

        <div class="row mt-4">
          <label class="col-md-4"><b>To</b></label>:
          <span class="col-md-4">{$dataRow->endDate|date_format:'Y-m-d'}</span>
        </div>

        <div class="row mt-4">
          <label class="col-md-4"><b>Half Leave</b></label>:
          <span class="col-md-4">{if $dataRow->isHalf eq 0}No{else}Yes{/if}</span>
        </div>

        <div class="row mt-4">
          <label class="col-md-4"><b>Comment</b></label>:
          <span class="col-md-4">{$dataRow->comment}</span>
        </div>

        <div class="row mt-4">
          <label class="col-md-4"><b>Status</b></label>:
          <select name="status" class="form-control form-control-sm col-md-4 mb-3 ml-2">
            <option selected disabled>Pending</option>
            <option value="1" {if $dataRow->status eq 1}selected{/if}>Approved</option>
            <option value="2" {if $dataRow->status eq 2}selected{/if}>Declined</option>
          </select>
        </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary submit">Update Status</button>
        </div>
      </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.col-md-6 -->
  <!-- /.col-md-6 -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->
</div>
        {literal}
<script>
    $(document).ready(function()
    {
        $(".submit").click(function()
        {
            var data = $("form#editStatus").serializeArray();
            $.ajax({
                url: "/admin/leaves/update/",
                type: "POST",
                dataType: "json",
                data: data, 
                success: function (result) {
                  if(result.status == 1)
                  {
                    window.location.href = "/admin/leaves";
                  }
                  else
                  {
                    toastr.error(result.error);
                  }
                }
            });
        });
    });
</script>
{/literal}