<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="margin-left: 0px;">
  <div class="container">
    <a href="/admin" class="navbar-brand">
      <span class="brand-text font-weight-dark mr-2">EMS</span>
    </a>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dashboard</a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="/admin/dailyattendance" class="dropdown-item">Daily Attendance</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Users</a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="/admin/users" class="dropdown-item">All Users</a></li>
            <li><a href="/admin/userattendance" class="dropdown-item">User Attendance</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/admin/holidays" class="nav-link">Holidays</a>
        </li>
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Leaves</a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="/admin/leavebalancesheet" class="dropdown-item">Leave Balancesheet </a></li>
            <li><a href="/admin/leaves" class="dropdown-item">Leave Applications</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link font-weight-bold" data-toggle="dropdown" href="#">{$sessionAdminName}<i class="fa-solid fa-caret-down ml-2"></i></a>
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
          <a href="/admin/logout" class="dropdown-item">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
          </a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
  </div>
</nav>